<a href="./todos/new">Create</a>

<ul>
  {{#each todos}}
    <li>
      <input type="checkbox" name="isDone" {{#if this.isDone }} checked {{/if}} disabled>
      {{this.name}}
      <a href="./todos/{{ this._id }}">detail</a>  {{!-- /todos/5e9460ebe0174f4a734ce12a --}}
      <a href="./todos/{{ this._id }}/edit">edit</a>
      <form action="./todos/{{ this._id }}/delete" method="POST" style="display: inline;">  {{!-- 刪除 --}}
        <button type="submit">delete</button>
      </form>
    </li>
  {{/each}}
</ul>