<form action="/todos" method="POST" style="display: inline;"> {{!-- 刪除 --}}
  <div class="input-group">
    {{!-- Text --}}
    <input class="form-control" type="text" placeholder="name" name="name">
    {{!-- BTN --}}
    <button class="btn btn-success" type="submit">Create</button>
  </div>
</form>